
<!-- Banner -->
<%= 
# create the banner using only the first 
# feed item from the model 
render 'elements/banner', item: @news_items.first 
%>

<!-- Section -->
<section>
  <header class="major">
    <h2>Ipsum sed dolor</h2>
  </header>
  <div class="posts">
    
    <% 
    # loop through all but the 
    # first element and create an 
    # article out of each feed item 
    @news_items.all[1..-1].each do |f| 
    %>
      <%= render 'elements/article', article: f %>
    <% end %>
  </div>
</section>