<!-- Header -->
  <header id="header">
    <span class="logo"><a href="<%= root_path %>"><strong>ScapesNews</strong></a> by <a href="http://github.com/scaperoth">Scaperoth</a></span>
    <ul class="icons">
      <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
    </ul>
  </header>
  <legend><small>theme by <a href="https://html5up.net/editorial">HTML5 UP</a></small></legend>