<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section>

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li><a href="<%= root_path %>">Homepage</a></li>
            <li><a href="<%= news_sources_path %>">News Sources</a></li>
          </ul>
        </nav>
        
        <!-- Section -->
          <section>
            <header class="major">
              <h2>Account</h2>
            </header>
            <li style="list-style:none;"><a href="<%= edit_user_registration_path %>">Edit My Account</a></li>
          </section>


      <!-- Section -->
        <section>
          <header class="major">
            <h2>Get in touch</h2>
          </header>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="#">matt@scaperoth.com</a></li>
          </ul>
        </section>

        
        <%= render partial: "elements/footer" %>

    </div>
  </div>