// Place all the styles related to the Landings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
    article {
        .image {
            height: 239px;
            width: 100%;

            .background-img {
                transition: all 2s;
                width: 100%;
                height: 100%;
                background-color: black;
                background-position: center;
                background-size: cover;
                overflow: hidden;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
        
    }
}
@media screen and (min-width: 1200px) {
    .posts {
        article {
            &.col-4 {
              width: calc(25% - 6em);
              
              &:nth-child(3n + 1):before {
        				display: block;
        			}
              
              &:nth-child(4n + 1):before {
        				display: none;
        			}
              
            }
        }
    }
}